* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: black;
    padding: 0px;
}

.navbar {
    background-image: linear-gradient(180deg, #000000, #00000000);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 100px;
}

#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 180px;
    padding-right: 3rem;
}


#navbar__logoimg {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #ff005a;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background-color: #131313;
    }


    .navbar__menu.active {
        background-color: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
        width: 350px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


/* MAIN SECTION */

.main {
    background-color: #000;
    z-index: 2;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    z-index: 3;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__bg {
    position: fixed;
    min-height: 100%;
    width: 100%;
    height: auto;
    top: 0;
    opacity: .5;
    left: 0;
    z-index: 4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main__content {
    position: relative;
    font-size: 3.4vh;
    background-color: #ff005a;
    background-image: linear-gradient(to top, #ff3179, #a20039);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    z-index: 5;
}

.main__arrow {
    height: 5vh;
    display: flex;
    position: relative;
    z-index: 6;
    justify-content: center;
}

.main__arrow svg {
    z-index: inherit;
    fill: white;
    opacity: 1;
}

#main__arrow-svg path {
    transform: scale(4);
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 66vh;
    min-height: 44vh;
    z-index: 51;
    width: 100%;
    max-width: 1300px;
    justify-self: center;
    margin: 0 auto;
    padding: 0 50px;
}

.about__bgcolor {
    background: #050505;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 66vh;
    z-index: 51;
    width: 100%;
    justify-self: center;
    margin: 0 auto;
    padding: 0 50px;
}

.about h1 {
    position: relative;
    font-size: 2.4rem;
    padding: 12px 12px;
    background-color: #ff005a;
    background-image: linear-gradient(to top, #ff3179, #a20039);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    z-index: inherit;
}

.about__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: inherit;
}

.about__card {
    z-index: inherit;
    height: 100%;
    margin: 0;
    position: relative;
}

.about__row {
    display: flex;
    flex-direction: row;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
    z-index: inherit;
    max-height: 100%;
}

.about__row p {
    flex: 33%;
    font-size: 1.2rem;
    color: #fff;
    max-height: 100%;
}

.coloredName {
    color: #ff005a;
}

.about__column {
    flex-basis: 50%;
    height: 100%;
    max-height: 100%;
    margin: 15px;
    z-index: inherit;
}

#about__column_filler1 {
    max-width: 30px;
}

#about__image {
    position: relative;
    transform: translateX(50%);
    padding: 0 4px;
    z-index: inherit;
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 960px) {
    #about__image_column {
        display: none;
    }
    
    .about__row {
        flex: none;
        display: block;
        font-size: 1.2rem;
        color: #fff;
        max-height: none;
    }
    .about__column {
        width: 100%;
        height: 100%;
        max-height: 100%;
        margin: 0px;
        z-index: inherit;
    }
    
}



/* CONTACT */


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 44vh;
    z-index: 51;
    width: 100%;
    max-width: 1300px;
    justify-self: center;
    margin: 0 auto;
    padding: 0 50px;
}

.contact h1 {
    position: relative;
    font-size: 2.4rem;
    padding: 12px 12px;
    background-color: #ff005a;
    background-image: linear-gradient(to top, #ff3179, #a20039);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    z-index: inherit;
}

.contact__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: inherit;

}

.contact__bgcolor {
    background: #000000;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 28vh;
    z-index: 30;
    opacity: .8;
    border-radius: 12px;
    width: 100%;
    max-width: 350px;
    justify-self: center;
    margin: 0 auto;
    padding: 0 50px;
}

.contact__card {
    columns: #fff;
    z-index: inherit;
    height: 100%;
    margin: 0;
    position: relative;
    top: 14vh;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact__card p {
    columns: #fff;
    color: #fff;
    font-size: 1.2rem;
    z-index: inherit;
    height: 100%;
    margin: 0;
    position: relative;
}

.contact__row {
    margin-top: 20px;
    width: 100%;
}


.contact__insta {
    width: 50%;
    float: left;
    text-align: left;
    left: 50%;
    transform: translateX(100%);
}

.contact__insta path {
    fill: #ff005a;
}

.contact__tiktok {
    width: 50%;
    float: right;
    text-align: right;
    right: 50%;
    transform: translateX(-100%);
}

.contact__tiktok path {
    fill: #ff005a;
}


/*  P O R T F O L I O   P A G E  */

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 155vh;
    z-index: 51;
    width: 100%;
    max-width: 1300px;
    justify-self: center;
    margin: 0 auto;
    padding: 0 50px;
}

.portfolio h1 {
    position: relative;
    font-size: 3.6rem;
    padding: 12px 12px;
    background-color: #ff005a;
    background-image: linear-gradient(45deg, #ff3179, #a20039);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    z-index: inherit;
}

.contact__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: inherit;

}

.portfolio__bg {
    position: fixed;
    min-height: 100%;
    width: 100%;
    min-width: fit-content;
    height: 100%;
    top: 0;
    opacity: .5;
    left: 0;
    z-index: 4;
    z-index: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio__content {
    columns: #fff;
    z-index: inherit;
    height: 100%;
    margin: 0;
    position: relative;
}

.portfolio__row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    z-index: inherit;
}

.portfolio__column {
    flex: 33.333%;
    padding: 0 4px;
    z-index: inherit;
}

.portfolio__column img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    z-index: inherit;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 28vh;
    z-index: 51;
    width: 100%;
    max-width: 1300px;
    justify-self: center;
    margin: 0 auto;
    padding: 0 50px;
    bottom: 0;
}

.footer__bgcolor {
    background: #050505;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 28vh;
    z-index: 51;
    width: 100%;
    justify-self: center;
    margin: 0 auto;
    padding: 0 50px;
}

#footer__logoimg {
    padding-top: 22vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 180px;
}

/* CHANGE IF POSSIBLY MOBILE */

@media screen and (max-width: 960px) {


    .portfolio {
        height: 220vh;
    }

    .portfolio__column {
        margin-top: 8px;
        flex: 100%;
    }
    

}
